@model IEnumerable<Ciclope.Models.TrabalhadorUser>

@{
    ViewData["Title"] = "Utilizadores";
}

<div class="row h-100">
    <main role="main" class="col-md-12 ml-sm-auto px-4" style="padding-left: 35px !important;">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">@ViewData["Title"]</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary"
                            onclick="location.href='@Url.Action("Create", "TrabalhadorUser", new { id = @ViewBag.IdEmpresa})'">
                        Adicionar novo utilizador
                    </button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Nif)
            </th>
            <th>
               Papel
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Nif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserRoles.ToList()[0].Role.Name)
            </td>
            <td>
            @if(@User.Identity.Name != item.User.Email)
            {
                <a asp-action="Delete" asp-route-id="@item.TrabalhadorId">
                    <i class="bi bi-x-circle"></i>
                </a>
            }
            </td> 
        </tr>
}
    </tbody>
</table>

</main>
</div>
