@model IEnumerable<Ciclope.Models.DocRecibosVerdes>
@using Ciclope.Services
@inject ICurrency Currency


@{
    ViewData["Title"] = "Lista Recibos Verdes";
    var idEmpresa = @ViewBag.idEmpresa;
}

<div class="row h-100">
    <partial name="_DisplaySideMenuPartial" for="@idEmpresa"/>  
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">@ViewData["Title"]</h1>

            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary"
                            onclick="location.href='@Url.Action("Create", "RecibosVerdes", new { id = @ViewBag.IdEmpresa})'" id="create">Novo Recibo Verde</button>
                    
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Data Emissao</th>
                <th>Data Transmissao</th>
                <th>Valor Base</th>
                <th>Iva</th>
                <th>IRS</th>
                <th></th>
            </tr>
                @foreach (var item in Model) {
        <tr>
            <td>@item.DataEmissao.ToString("d")</td>
            <td>@item.DadosDataTransmissao.ToString("d")</td>
            <td>@Currency.Format(item.DadosValorBase)</td>
            <td>@Currency.Format(item.DadosIva)</td>
            <td>@Currency.Format(item.DadosIRS)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" id="edit">
                    <i class="bi bi-pen"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" id="details">
                    <i class="bi bi-info-circle"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" id="delete">
                    <i class="bi bi-x-circle"></i>
                </a>
            </td>
        </tr>
                }
        </table>
    </main>
</div>